@font-face {
  font-family: "Reckless";
  src: url("https://cdn.shopify.com/s/files/1/0297/8132/7932/files/RecklessCondensedS-TRIAL-Book.woff?v=1768655865")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Midnight";
  src: url("https://cdn.shopify.com/s/files/1/0297/8132/7932/files/midnight-sans-rd-12-medium-trial.otf?v=1768200246")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("https://www.twoleavestea.com/cdn/fonts/figtree/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("https://cdn.shopify.com/s/files/1/0297/8132/7932/files/RobotoMono-Regular.ttf?v=1768204557")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.roboto-mono {
  font-family:
    "Roboto Mono",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.figtree {
  font-family:
    "Figtree",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.midnight {
  font-family:
    "Midnight",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
.reckless {
  font-family:
    "Reckless",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: Reckless;
}
.purple-top-bar {
  width: 100%;
  height: 30px;
  position: relative;
  background-color: #2a2857;
}
.purple-top-bar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  line-height: 1px;
  font-weight: 600;
  letter-spacing: 1px;
}

.topimage {
  position: relative;
}
.topimage img {
  width: 100%;
  border-bottom: 1px solid black;
}
.new {
  position: absolute;
  top: 40%;
  width: fit-content;
  height: fit-content;
  background-color: #bada55;
  margin-left: 40px;
  padding: 0px 5px;
  border-radius: 10%;
  border: 1px solid black;
  transform: rotate(-5deg);
}
.new span {
  font-size: 60px;
}

.topimage h1 {
  position: absolute;
  top: 55%;
  margin-left: 40px;
  font-size: 84px;
  color: white;
  font-weight: 300;
}

.topimage p {
  width: 500px;
  position: absolute;
  top: 72%;
  margin-left: 40px;
  color: white;
  font-size: 18px;
}

.topimage button {
  display: block;
  background-color: aqua;
  position: absolute;
  top: 87%;
  font-size: 18px;
  color: white;
  border: none;
  background-color: #2a2857;
  margin-left: 40px;
  height: 50px;
  border-radius: 999px;
  width: 200px;
}

@media (max-width: 768px) {
  .topimage button {
    margin-left: 20px;
    width: 150px;
    height: 45px;
    font-size: 15px;
  }
}

.white-section > h1 {
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Reckless;
  font-size: 63.4px;
  font-weight: 300;
  text-align: center;
  width: auto;
  position: absolute;
  white-space: nowrap;
}

.white-section {
  background-color: #fbf9eb;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 0px;
  position: relative;
}
.best-seller-tag {
  position: relative;

  height: 650px;
}
.best-seller-tag span {
  position: absolute;
  margin-top: 60px;
  top: 60%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(-4deg);

  font-size: 60px;
  width: fit-content;
  height: fit-content;
  background-color: #daaeea;
  padding: 0 3px;
  border-radius: 10px;
  border: 1px solid black;
}
.cards {
  display: flex;
  gap: 24px;
  justify-content: space-around;
}
.product-card {
  width: 330px;
  flex-shrink: 0;
}
.card1,
.card2,
.card3,
.card4 {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  width: 330px;
  background-color: #bada55;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.tag1 {
  position: absolute;
  top: 10px;
  left: 10px;
  height: fit-content;
  width: fit-content;
  padding: 7px;
  background-color: white;
  font-family: Midnight;
  font-size: 22px;
  border-radius: 7px;
  border: 1px solid black;
}
.rating {
  top: 20px;
  right: 10px;
  position: absolute;
  height: fit-content;
  width: fit-content;
  font-family: "Roboto Mono";
  font-size: 14px;
}

.card-img {
  height: 100%;
  padding-top: 50px;
}
.card1 {
  background-color: #c1ee91;
}
.card2 {
  background-color: #c8e892;
}
.card3 {
  background-color: #afebbe;
}
.card4 {
  background-color: #edecf0;
}
.card1 button,
.card2 button,
.card3 button,
.card4 button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 1px solid black;
}
.product-info {
  padding-top: 25px;
}

.product-info h2 {
  font-family: "Reckless";
  font-size: 23px;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 22px;
}

.product-info .price {
  font-family: "Figtree";
  font-size: 14px;
  margin-bottom: 14px;
}

.product-info .description {
  font-family: "Figtree";
  font-size: 14px;
  line-height: 1.4;
  color: #5f5c57;
}
.three-dashes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.three-dashes span {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 50px;
  height: 2px;
  background: #cfcdc1;
}
.three-dashes span:nth-child(1) {
  background-color: #201c1a;
}
.explore-button {
  display: block;
  margin: 40px auto;
  margin-bottom: 120px;
  padding: 5px;
  height: 50px;
  font-size: 18px;
  width: 250px;
  border-radius: 999px;
  font-weight: 400;
  border: none;
  background-color: #2a2857;
  color: white;
}
.hr-line {
  height: 3px;
  background-color: black;
}
.review-tag {
  position: relative;
  height: 500px;
  margin-top: 0;
  margin-left: 150px;
}
.review-tag span {
  position: absolute;
  top: 40%;

  transform: rotate(-4deg);

  font-size: 60px;
  width: fit-content;
  height: fit-content;

  background-color: #73bc25;
  padding: 0 3px;
  border-radius: 10px;
  border: 1px solid black;
}
.review-h1-div {
  position: relative;
  height: 400px;
}
.review-h1 {
  position: absolute;
  top: 27%;
  margin-top: 15%;
  font-size: 60px;

  width: fit-content;
  height: fit-content;
  position: absolute;
  text-align: left;
  font-weight: 400;
}
.review-cards {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: auto 7px;
}
.rc1,
.rc2,
.rc3,
.rc4,
.rc5 {
  height: 430px;
  width: 290px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #f5af8a;
  position: relative;
}
.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 200px;
}
.content > h2 {
  line-height: 31.2px;
  position: absolute;
  font-family: Reckless;

  text-align: center;
  font-weight: 400;
}
.content p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  opacity: 0.5;
  font-family: Figtree;
  font-size: 15px;
  transform: translate(-50%, -50%);
}
.rc1 h2 {
  font-size: 32px;
}
.rc2 h2 {
  font-size: 24px;
}
.rc3 h2 {
  font-size: 24px;
}
.rc4 h2 {
  font-size: 32px;
}
.rc5 h2 {
  font-size: 32px;
}
.rc2 .content {
  height: 290px;
  top: 45%;
}
.rc3 .content {
  height: 250px;
  top: 45%;
}
.rc2 p {
  top: 85%;
}
.rc3 p {
  top: 85%;
}
.rc2 {
  background-color: #abdf74;
}
.rc3 {
  background-color: #ffd265;
}
.rc4 {
  background-color: #ade674;
}
.rc5 {
  background-color: #d9c2e1;
}

.rc-bottom-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 105%);
  border-radius: 10px;
  height: 23%;
  width: 92%;
  padding: 5px;
  border: 1px solid black;
  overflow: hidden;
}
.rc1 .rc-bottom-div {
  background-color: #ea6d44;
}
.rc2 .rc-bottom-div {
  background-color: #73bc25;
}
.rc3 .rc-bottom-div {
  background-color: #ffb500;
}
.rc4 .rc-bottom-div {
  background-color: #8bc045;
}
.rc5 .rc-bottom-div {
  background-color: #c790db;
}
.rc-bottom-div img {
  margin-top: 5px;
  height: 90%;
}
.rc-bottom-div hr {
  rotate: 90deg;
  position: absolute;
  left: -17%;
  width: 100%;
  bottom: 20%;
  border: none;
  height: 1px;
  background-color: #000;
}
.rc-bottom-div p {
  color: white;
  position: absolute;
  top: 20%;
  left: 37%;
  line-height: normal;
  font-size: 14px;
  font-family: Roboto Mono;
}
.rc-bottom-div button {
  padding: 12px;
  border-radius: 999px;
  width: 70px;
  height: 50px;
  position: absolute;
  top: 23%;
  border: 1px solid black;
  right: 4%;
}
.rc-bottom-div > button > span {
  font-size: 16px;
}
.origin-bg {
  background-color: #000000;
  width: 100%;
  height: 1775px;

  position: relative;
}
.origin-bg > img {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  display: block;
  opacity: 1;
}
.origin-tag {
  position: absolute;
  top: 15%;
  left: 42%;
  font-family: Midnight;
  background-color: #a2c9fc;

  transform: rotate(-2deg);

  font-size: 65px;
  line-height: 0.8;
  width: auto;
  height: auto;

  padding: 3px 1px;
  border-radius: 10px;
  border: 1px solid black;
}
.born-in-col {
  position: absolute;
  top: 30%;
  left: 30%;
  font-family: Midnight;
  font-size: 180px;
  text-align: center;
  line-height: 0.8;
  font-weight: 500;
  letter-spacing: 4px;
  color: white;
}

.origin-bg > P {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  left: 10%;
  top: 60%;
  text-wrap: nowrap;
  color: white;
  font-size: 60px;
  line-height: 69px;
  font-family: Reckless;
  font-weight: 50;
}
.origin-icons {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 80%;
  left: 25%;
  height: 116px;
  width: 50%;
}

.origin-icons img {
  height: 100%;

  opacity: 100%;
}
.origin-icons span {
  display: block;
  color: white;
  font-family: Roboto Mono;
  text-align: center;
}

.origin-bg button {
  position: absolute;
  top: 93%;
  font-size: 18px;
  font-family: Figtree;
  padding: 15px 50px;
  left: 43.3%;
  border: none;
  border-radius: 999px;
}
.discover-section {
  height: 1000px;
  width: 100%;
  position: relative;
}
.discover-section > span {
  position: absolute;
  line-height: 0.8;
  left: 15%;
  top: 130px;
  transform: rotate(-2deg);
  font-family: Midnight;
  font-size: 60px;
  width: fit-content;
  height: fit-content;
  background-color: #ff7f31;
  padding: 3px 3px;
  border-radius: 10px;
  border: 1px solid black;
}
.discover-section p {
  position: absolute;
  font-family: Reckless;
  font-size: 60px;
  left: 15%;
  top: 240px;
}

.search-box {
  position: absolute;
  width: 440px;
  height: 100px;
  left: 15%;
  top: 400px;
  border: 1px solid #222;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: width 0.5s ease;
}
.search-box:focus-within {
  width: 900px;
}
.search-input {
  position: relative;
  margin-left: 8%;
  width: 100%;
  height: 100%;

  border: none;
  outline: none;
  background: transparent;

  font-size: 30px;
  letter-spacing: 1.5px;
  font-family: Reckless;

  color: #222;
}

.typing-text {
  position: absolute;
  left: 8%;
  font-size: 30px;
  letter-spacing: 1.5px;
  opacity: 0.4;
  font-family: Reckless;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  pointer-events: none;

  animation: typing 4s steps(12) infinite;
}
.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  font-size: 28px;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.3s ease;
}
.search-box:focus-within .search-icon {
  opacity: 1;
}
.search-box:focus-within .typing-text {
  display: none;
}
@keyframes typing {
  0% {
    width: 0;
  }

  25% {
    width: 200px;
  }

  50% {
    width: 200px;
  }
  75% {
    width: 0px;
  }

  100% {
    width: 0;
  }
}

@keyframes changeText {
  0%,
  24% {
    content: "green tea";
  }

  25%,
  49% {
    content: "black tea";
  }

  50%,
  74% {
    content: "chai tea";
  }

  75%,
  100% {
    content: "iced tea";
  }
}

.typing-text::before {
  content: "Green Tea";
  animation: changeText 16s infinite;
}

.discover-section p:nth-child(4) {
  position: absolute;
  top: 650px;
  font-size: 14px;
  line-height: 14px;
  font-family: Figtree;
}

.vibe-container {
  position: relative;
  top: 690px;
  margin-left: 15%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
  justify-content: left;
}
.vibe-container button {
  padding: 10px 25px;
  border: 1px solid #222;
  border-radius: 15px;
  background: rgb(218, 234, 255);
  font-family: Reckless;
  font-size: 32px;
  transition: background-color 0.3s ease;
}
.vibe-container button:hover {
  background-color: #8ebdfa;
}
.cafe-section {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
  width: 100%;
  height: 700px;
  background-color: #2a2857;
}
.cafe-section > img {
  width: 50%;
}
.cafe-section h1 {
  font-family: Reckless;
  color: white;
  font-weight: 400;
  margin: 0 auto;
  transform: translate(-20%, 70%);
  font-size: 84px;
}

.cafe-text > p {
  font-family: Figtree;
  font-size: 22px;
  color: white;
  transform: translate(-20%, 300%);
}
.cafe-text > button {
  font-family: Figtree;
  font-size: 18px;
  padding: 15px 55px;
  border-radius: 999px;
  border: none;
  transform: translate(-59%, 450%);
}
.latte-section {
  background-color: #9f6429;
  position: relative;
  padding-bottom: 30px;
}
.ease-gif img {
  width: 150px;
}
.ease-gif {
  margin-right: 140px;
  margin-left: auto;
  width: fit-content;
}
.latte-section > span {
  position: absolute;
  left: 43%;
  top: 100px;
  font-family: Midnight;
  transform: rotate(-4deg);
  font-size: 60px;
  width: fit-content;
  height: fit-content;
  background-color: #ffcb96;
  padding: 0 3px;
  border-radius: 10px;
  border: 1px solid black;
}
.latte-section > h1 {
  margin-top: 50px;
  color: white;
  font-weight: 400;
  font-size: 80px;
  font-family: Midnight;
  text-align: center;
}

.latte-section > p {
  font-family: Roboto Mono;
  text-align: center;
  color: white;
  font-size: 14px;
}
.latte-card-bg {
  position: relative;
  margin: 140px auto 0 auto;
  width: calc(100% - 80px);
  height: 500px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #ffcb96;
}
.latte-flex-section {
  height: 100%;
  display: flex;
  gap: 50px;
  align-items: flex-end;
}
.latte-flex-section img {
  margin-bottom: 50px;
}
.right-section {
  margin-bottom: 50px;
}
.right-section > span {
  line-height: 0.8;
  display: block;
  font-family: Midnight;
  transform: rotate(-4deg);
  font-size: 60px;
  width: fit-content;
  height: fit-content;
  background-color: #f09f54;
  padding: 5px 3px;
  border-radius: 10px;
  border: 1px solid black;
}
.right-section h1 {
  font-family: Reckless;
  font-size: 69.4275px;
  font-weight: 400;
  margin-bottom: 10px;
}
.right-section p {
  margin-bottom: 30px;
  font-family: Figtree;
  font-size: 18px;
}
.right-section button {
  font-size: 18px;
  margin-bottom: 30px;
  font-family: Figtree;
  padding: 15px 50px;
  border: 1px solid black;
  border-radius: 999px;
  background-color: white;
  transition: 0.3s ease;
}
.right-section button:hover {
  background-color: #2a2857;
  color: white;
}

.latte-card-bg > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background-color: white;
  transition: 0.3s ease;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
.latte-card-bg > button:first-of-type {
  left: 45px;
}

.latte-card-bg > button:last-of-type {
  right: 45px;
}
.latte-card-bg button img {
  width: 25px;
  height: 25px;
}
.latte-card-bg > button:hover {
  background-color: #2a2857;
}

.latte-card-bg button:hover img {
  filter: brightness(0) invert(1);
}
.journal-section {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-left: 250px;
}

.journal-section span {
  line-height: 0.8;
  margin-bottom: 50px;
  display: block;
  font-family: Midnight;
  transform: rotate(-4deg);
  font-size: 60px;
  width: fit-content;
  height: fit-content;
  background-color: #ffb500;
  padding: 5px 3px;
  border-radius: 10px;
  border: 1px solid black;
}
.journal-section h1 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 100px;
}

.jrnl-section-flex {
  width: 100%;
  width: calc(100% + 250px);
  margin-left: -250px;

  display: flex;
  justify-content: center;
  gap: 25px;
}
.jrnl-section-flex .crd {
  position: relative;
  overflow: hidden;
  height: 390px;
  width: 340px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #8ebdfa;
}

.crd img {
  width: 100%;
  height: 100%;
  padding-bottom: 40px;
  object-fit: cover;
}
.crd span {
  position: absolute;
  top: 15px;
  left: 15px;
  line-height: 0.8;
  margin-bottom: 50px;
  display: block;
  font-family: Midnight;
  transform: rotate(0deg);
  font-size: 22px;
  width: fit-content;
  height: fit-content;
  background-color: white;
  padding: 5px 3px;
  border-radius: 4px;
  border: 1px solid black;
}
.crd .btm-sec {
  padding-top: 10px;
  padding-left: 10px;
  border-top: 1px SOLID black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #c0dbff;
}

.btm-sec p {
  font-family: Roboto Mono;
  font-size: 16px;
}

.journal-section .three-dashes {
  display: flex;
  justify-content: center;
  gap: 10px;

  width: calc(100% + 250px);
  margin-left: -250px;
}

.journal-section .three-dashes span {
  transform: rotate(0);
  height: 2px;
  border: none;
  padding: 0;
  margin-top: 90px;
  margin-bottom: 20px;
  width: 50px;
  background: #cfcdc1;
}
.journal-section .three-dashes span:nth-child(1) {
  background-color: #201c1a;
}
.jrnl-button {
  width: 100%;
  height: 100px;
}

.journal-section button {
  position: absolute;
  margin-top: 30px;
  margin-bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-family: Figtree;
  padding: 15px 50px;
  border: 1px solid black;
  border-radius: 999px;
  background-color: #2a2857;
  color: white;
  transition: 0.3s ease;
}
.journal-section button:hover {
  background-color: white;
  color: black;
}
.orange-section {
  overflow: hidden;
}
.imgdiv {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin-top: 100px;
}

.orange-section img {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 120%;
}
.aboutus-div {
  position: absolute;
  width: 30%;
  left: 50px;
  top: 60px;
  bottom: 60px;
  border-radius: 15px;
  border: 1px solid black;
  height: calc(100%-120px);
  background-color: #f26412;
}

.aboutus-div h1 {
  font-family: Reckless;
  font-size: 70px;
  color: white;
  font-weight: 400;
  padding: 60px;
}

.aboutus-div p {
  margin-top: 30%;
  color: white;
  padding-left: 60px;
  font-family: Figtree;
  font-size: 25px;
}

.aboutus-div button {
  margin-left: 60px;
  margin-top: 50px;
  padding: 18px 70px;
  font-family: Figtree;
  font-size: 18px;
  border-radius: 999px;
  border: none;
  color: white;
  background-color: #2a2857;
}

.steep-sec {
  margin-top: -5px;
  min-height: 500px;
  padding-top: 100px;
  position: relative;
  background-color: #c0dbff;
}

.steep-sec h2 {
  font-family: Midnight;
  font-size: 40px;
  margin-left: 270px;
  margin-bottom: 30px;
  font-weight: 400;
}
.steep-sec h3 {
  font-family: Reckless;
  font-size: 35px;
  margin-left: 270px;
  color: #555b66;
  font-weight: 300;
}

.steep-sec input {
  margin-top: 40px;
  text-align: left;
  margin-left: 270px;
  width: 420px;
  padding: 18px 20px;
  border-radius: 15px;
  border: 1px solid black;
  font-family: Figtree;
  font-size: 18px;
}

.steep-sec input::placeholder {
  opacity: 0.8;
}

.steep-sec button {
  display: inline;
  width: 150px;
  margin-left: 20px;
  border: none;
  background-color: #2a2857;
  color: white;
  font-family: Figtree;
  font-size: 18px;
  padding: 18px 25px;
  border-radius: 999px;
  transition: 0.3s ease;
}

.steep-sec button:hover {
  background-color: #ffb500;
  color: black;
  border: 1px solid black;
}
.social-buttons {
  display: inline-flex;
  margin-left: 400px;
}
.social-buttons button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid black;
  transition: 0.3s ease;
  padding: 0;
}

.social-buttons button:hover {
  background-color: transparent;
}

.bottom-menu {
  display: flex;
  gap: 60px;
  padding-right: 250px;
  flex-wrap: wrap;
  padding-left: 60px;
  padding-top: 60px;
  margin-top: 90px;
  background-color: #2a2857;
  border-radius: 15px;
  margin-left: 60px;
  width: calc(100% - 120px);
  min-height: 800px;
}

.bottom-menu h4 {
  color: white;
  font-family: Reckless;
  font-size: 26px;
  font-weight: 400;
}

.bottom-menu p:first-of-type {
  margin-top: 25px;
}
.bottom-menu p {
  color: #9290a1;
  font-family: Figtree;
  font-size: 20px;
  margin-bottom: 5px;
}
.steep-sec > img:first-of-type {
  margin-top: 100px;
  width: 100%;
}

.steep-sec > img:last-of-type {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 350px;
}

.steep-sec > p {
  padding-bottom: 25px;
  font-family: Roboto Mono;
  text-align: center;
}

@media (max-width: 768px) {
  .topimage p {
    font-size: 14px;
    margin-left: 20px;
  }

  .topimage h1 {
    font-size: 45px;
    margin-left: 20px;
  }

  .topimage img {
    position: absolute;
    width: 130%;
    top: -16%;
    left: -8%;
    object-fit: contain;
  }

  .topimage {
    position: relative;
    height: 710px;
    overflow: hidden;
  }

  .new {
    top: 50%;
  }

  .new span {
    font-size: 40px;
  }
  .topimage h1 {
    margin-left: 40px;
    top: 60%;
    font-size: 60px;
  }

  .topimage p {
    top: 70%;
    font-size: 18px;
    width: 80%;
    margin-left: 40px;
  }
  .topimage button {
    top: 90%;
    margin-left: 40px;
  }
}
