@font-face {
  font-family: "Reckless";
  src: url("https://cdn.shopify.com/s/files/1/0297/8132/7932/files/RecklessCondensedS-TRIAL-Book.woff?v=1768655865")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Midnight";
  src: url("https://cdn.shopify.com/s/files/1/0297/8132/7932/files/midnight-sans-rd-12-medium-trial.otf?v=1768200246")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Figtree";
  src: url("https://www.twoleavestea.com/cdn/fonts/figtree/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("https://cdn.shopify.com/s/files/1/0297/8132/7932/files/RobotoMono-Regular.ttf?v=1768204557")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.roboto-mono {
  font-family:
    "Roboto Mono",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.figtree {
  font-family:
    "Figtree",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}

.midnight {
  font-family:
    "Midnight",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
.reckless {
  font-family:
    "Reckless",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: Reckless;
}
.purple-top-bar {
  width: 100%;
  height: 30px;
  position: relative;
  background-color: #2a2857;
}
.purple-top-bar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  line-height: 1px;
  font-weight: 600;
  letter-spacing: 1px;
}

.topimage {
  position: relative;
}
.topimage img {
  width: 100%;
  border-bottom: 1px solid black;
}
.new {
  position: absolute;
  top: 40%;
  width: fit-content;
  height: fit-content;
  background-color: #bada55;
  margin-left: 40px;
  padding: 0px 5px;
  border-radius: 10%;
  border: 1px solid black;
  transform: rotate(-5deg);
}
.new span {
  font-size: 60px;
}

.topimage h1 {
  position: absolute;
  top: 55%;
  margin-left: 40px;
  font-size: 84px;
  color: white;
  font-weight: 300;
}
.topimage p {
  position: absolute;
  top: 73%;
  margin-left: 40px;
  color: white;
  font-size: 18px;
}
.topimage button {
  display: block;
  background-color: aqua;
  position: absolute;
  top: 87%;
  font-size: 18px;
  color: white;
  border: none;
  background-color: #2a2857;
  margin-left: 40px;
  height: 50px;
  border-radius: 999px;
  width: 200px;
}

.white-section > h1 {
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Reckless;
  font-size: 63.4px;
  font-weight: 300;
  text-align: center;
  width: auto;
  position: absolute;
  white-space: nowrap;
}

.white-section {
  background-color: #fbf9eb;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 40px;
  position: relative;
}
.best-seller-tag {
  position: relative;

  height: 650px;
}
.best-seller-tag span {
  position: absolute;
  margin-top: 60px;
  top: 80%;
  left: 50%;

  transform: translate(-50%, -50%) rotate(-4deg);

  font-size: 60px;
  width: fit-content;
  height: fit-content;
  background-color: #daaeea;
  padding: 0 3px;
  border-radius: 10px;
  border: 1px solid black;
}
.cards {
  display: flex;
  gap: 24px;
  justify-content: space-around;
}
.product-card {
  width: 330px;
  flex-shrink: 0;
}
.card1,
.card2,
.card3,
.card4 {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  width: 330px;
  background-color: #bada55;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.tag1 {
  position: absolute;
  top: 10px;
  left: 10px;
  height: fit-content;
  width: fit-content;
  padding: 7px;
  background-color: white;
  font-family: Midnight;
  font-size: 22px;
  border-radius: 7px;
  border: 1px solid black;
}
.rating {
  top: 20px;
  right: 10px;
  position: absolute;
  height: fit-content;
  width: fit-content;
  font-family: "Roboto Mono";
  font-size: 14px;
}

.card-img {
  height: 100%;
  padding-top: 50px;
}
.card1 {
  background-color: #c1ee91;
}
.card2 {
  background-color: #c8e892;
}
.card3 {
  background-color: #afebbe;
}
.card4 {
  background-color: #edecf0;
}
.card1 button,
.card2 button,
.card3 button,
.card4 button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 1px solid black;
}
.product-info {
  padding-top: 25px;
}

.product-info h2 {
  font-family: "Reckless";
  font-size: 23px;
  font-weight: 400;
  line-height: 1.15;
  margin-bottom: 22px;
}

.product-info .price {
  font-family: "Figtree";
  font-size: 14px;
  margin-bottom: 14px;
}

.product-info .description {
  font-family: "Figtree";
  font-size: 14px;
  line-height: 1.4;
  color: #5f5c57;
}
.three-dashes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.three-dashes span {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 50px;
  height: 2px;
  background: #cfcdc1;
}
.three-dashes span:nth-child(1) {
  background-color: #201c1a;
}
.explore-button {
  display: block;
  margin: 40px auto;
  margin-bottom: 120px;
  padding: 5px;
  height: 50px;
  font-size: 18px;
  width: 250px;
  border-radius: 999px;
  font-weight: 400;
  border: none;
  background-color: #2a2857;
  color: white;
}
.hr-line {
  height: 3px;
  background-color: black;
}
.review-tag {
  position: relative;
  height: 500px;
  margin-top: 0;
  margin-left: 150px;
}
.review-tag span {
  position: absolute;
  top: 40%;

  transform: rotate(-4deg);

  font-size: 60px;
  width: fit-content;
  height: fit-content;

  background-color: #73bc25;
  padding: 0 3px;
  border-radius: 10px;
  border: 1px solid black;
}
.review-h1-div {
  position: relative;
  height: 400px;
}
.review-h1 {
  position: absolute;
  top: 27%;
  margin-top: 15%;
  font-size: 60px;

  width: fit-content;
  height: fit-content;
  position: absolute;
  text-align: left;
  font-weight: 400;
}
.review-cards {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  margin: auto 7px;
}
.rc1,
.rc2,
.rc3,
.rc4,
.rc5 {
  height: 430px;
  width: 290px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #f5af8a;
  position: relative;
}
.content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 200px;
}
.content > h2 {
  line-height: 31.2px;
  position: absolute;
  font-family: Reckless;

  text-align: center;
  font-weight: 400;
}
.content p {
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  opacity: 0.5;
  font-family: Figtree;
  font-size: 15px;
  transform: translate(-50%, -50%);
}
.rc1 h2 {
  font-size: 32px;
}
.rc2 h2 {
  font-size: 24px;
}
.rc3 h2 {
  font-size: 24px;
}
.rc4 h2 {
  font-size: 32px;
}
.rc5 h2 {
  font-size: 32px;
}
.rc2 .content {
  height: 290px;
  top: 45%;
}
.rc3 .content {
  height: 250px;
  top: 45%;
}
.rc2 p {
  top: 85%;
}
.rc3 p {
  top: 85%;
}
.rc2 {
  background-color: #abdf74;
}
.rc3 {
  background-color: #ffd265;
}
.rc4 {
  background-color: #ade674;
}
.rc5 {
  background-color: #d9c2e1;
}

.rc-bottom-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 105%);
  border-radius: 10px;
  height: 23%;
  width: 92%;
  padding: 5px;
  border: 1px solid black;
  overflow: hidden;
}
.rc1 .rc-bottom-div {
  background-color: #ea6d44;
}
.rc2 .rc-bottom-div {
  background-color: #73bc25;
}
.rc3 .rc-bottom-div {
  background-color: #ffb500;
}
.rc4 .rc-bottom-div {
  background-color: #8bc045;
}
.rc5 .rc-bottom-div {
  background-color: #c790db;
}
.rc-bottom-div img {
  margin-top: 5px;
  height: 90%;
}
.rc-bottom-div hr {
  rotate: 90deg;
  position: absolute;
  left: -17%;
  width: 100%;
  bottom: 20%;
  border: none;
  height: 1px;
  background-color: #000;
}
.rc-bottom-div p {
  color: white;
  position: absolute;
  top: 20%;
  left: 37%;
  line-height: normal;
  font-size: 14px;
  font-family: Roboto Mono;
}
.rc-bottom-div button {
  padding: 12px;
  border-radius: 999px;
  width: 70px;
  height: 50px;
  position: absolute;
  top: 23%;
  border: 1px solid black;
  right: 4%;
}
.rc-bottom-div > button > span {
  font-size: 16px;
}
.origin-bg {
  background-color: #000000;
  width: 100%;
  height: 1775px;

  position: relative;
}
.origin-bg > img {
  width: 100%;
  margin-top: 100px;
  display: block;
  opacity: 0.6;
}
.origin-tag {
  position: absolute;
  top: 15%;
  left: 42%;
  font-family: Midnight;
  background-color: #a2c9fc;

  transform: rotate(-2deg);

  font-size: 65px;
  line-height: 0.8;
  width: auto;
  height: auto;

  padding: 3px 1px;
  border-radius: 10px;
  border: 1px solid black;
}
.born-in-col {
  position: absolute;
  top: 30%;
  left: 30%;
  font-family: Midnight;
  font-size: 180px;
  text-align: center;
  line-height: 0.8;
  font-weight: 500;
  letter-spacing: 4px;
  color: white;
}

.founder-text {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  left: 6%;
  top: 60%;
  text-wrap: nowrap;
  color: white;
  font-size: 60px;
  line-height: 69px;
  font-family: Reckless;
  font-weight: 50;
}
.origin-icons {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 80%;
  left: 25%;
  height: 116px;
  width: 50%;
}

.origin-icons img {
  height: 100%;

  opacity: 100%;
}
.origin-icons span {
  display: block;
  color: white;
  font-family: Roboto Mono;
  text-align: center;
}

.origin-bg button {
  position: absolute;
  top: 93%;
  font-size: 18px;
  font-family: Figtree;
  padding: 15px 50px;
  left: 43.3%;
  border: none;
  border-radius: 999px;
}
